{% include '../header.html' %}

<body class="p-4">
  {% include '../navbar.html' %}
  <div class="container">
    <h1>Gestión de Cargas</h1>

   <a href="/cargas/crear" class="btn btn-primary mb-4">Crear Nueva Carga</a>


    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Cajas</h2>
        {% include '../tablas/cajas.html' %}
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Paquetes</h2>
        {% include '../tablas/packing.html' %}
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Bidones</h2>
        {% include '../tablas/bidon.html' %}
      </div>
    </div>
  </div>
</body>
{% include '../footer.html' %}
</html>
