{% include 'header.html' %}

<body class="p-4">
  {% include 'navbar.html' %}
  <div class="container">
    <h1>Gestión de Camiones</h1>
    <a href='./camiones' class="btn btn-primary mb-3">Crear un nuevo camión</a>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Patente</th>
          <th>Carga Máxima</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for camion in camiones %}
        <tr>
          <td>{{ camion.patente }}</td>
          <td>{{ camion.carga_maxima }}</td>
          <td>{{ camion.estado }}</td>
          <td>
            <a href="/camiones/{{ camion.patente }}" class="btn btn-info btn-sm">Ver</a>
            <a href="/camiones/edit/{{ camion.id }}" class="btn btn-warning btn-sm">Editar</a>
            <a href="/camiones/delete/{{ camion.patente }}" class="btn btn-danger btn-sm">Borrar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'footer.html' %}
</body>
</html>
